<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="internal-nlog.txt">

	<targets>
		<!-- Log to file -->
		<target name="logfile" xsi:type="File"
				fileName="C:\Users\conne\Desktop\Compunnel\MegaProject\BackendStore.log"
				layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=ToString}" />
		<target name="console" xsi:type="console" />
	</targets>

	<rules>
		<!-- Minimum log level: Info -->
		<logger name="*" minlevel="Info" writeTo="logfile,console" />
	</rules>
</nlog>
